{% extends "meal_planner_main/base.html" %}

{% block title %}Calendar{% endblock title %}

{% block content %}

<div class="clearfix">
	<a class="btn btn-info" href="{% url 'cal:calMain' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info" href="{% url 'cal:calMain' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info" href="{% url 'cal:scheduled_recipe_new' %}"> New Scheduled Recipe </a>
	<a class="btn btn-info" href="{% url 'cal:calWeek' %}"> See Week View </a>
	<!-- <a class="btn btn-info" href="{% url 'cal:calDay' %}">See Day View</a> -->
</div>

{{ calendar }}

{% endblock content %}

