{% extends "meal_planner_main/base.html" %}

{% block title %}Calendar{% endblock title %}

{% block content %}

<div class="clearfix">
	<div class="d-flex justify-content-between">
		<a class="btn btn-secondary" href="{% url 'cal:calMain' %}?{{ prev_month }}"> Previous Month </a>
		<div class="justify-content-middle">
			<a class="btn btn-secondary" href="{% url 'cal:scheduled_recipe_new' %}"> New Scheduled Recipe </a>
			<a class="btn btn-secondary" href="{% url 'cal:calWeek' %}?{{ the_week }}"> See Week View </a>
		</div>
		<a class="btn btn-secondary" href="{% url 'cal:calMain' %}?{{ next_month }}"> Next Month </a>
	</div>
</div>

{{ calendar }}

{% endblock content %}