{% extends "meal_planner_main/base.html" %}
{% load static %}

{% block title %}Pantry{% endblock title %}

{% block content %}

<!-- <p> Here you can see the items in your pantry!</p> -->
<div class="row">
    <div class="column left">
        <h1>My Pantry</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <table style="display: none">
                {{ view.formset.empty_form }}
            </table>

            <table>
                {{ view.formset }}
            </table>

            <input id="add-form" class="btn btn-primary" type="submit" value="Add item" />
        </form>
        <form action="pantryeditdelete" method="post">
            {% csrf_token %}
            <ul>
                {% for i in all_pantry_items %}
                <br>
                <li>
                    {{ i }}
                    <button class="btn btn-secondary" type="submit" name="edit"
                        value="{{ forloop.counter }}">Edit</button>&nbsp;
                    <button class="btn btn-secondary" type="submit" name="delete"
                        value="{{ forloop.counter }}">Delete</button>
                </li>
                {% endfor %}
            </ul>
        </form>
    </div>
    <div class="column right">
        {% load static %} <img src="{% static 'meal_planner_main/images/food6.jpg' %}" alt="food"
            style="max-width: 100%;" />
    </div>
</div>

{% endblock content %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{{ form.media }}

<script>
    (function ($) {
        $('#add-form').click(function () {
            var index = $('#id_inline_test_models-TOTAL_FORMS').val()
            var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
            newTable.find(':input').each(function () {
                for (attr of ['name', 'id'])
                    $(this).attr(
                        attr,
                        $(this).attr(attr).replace('__prefix__', index)
                    )
            })
            newTable.insertBefore($(this))
            $('#id_inline_test_models-TOTAL_FORMS').val(
                parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
            )
            newTable.slideDown()
        })
    })($)
</script>
{% endblock %}