<!DOCTYPE html>
{% extends "meal_planner_main/base.html" %}

{% block title %}Pantry{% endblock title %}

{% block content %}

<body>
        <a href="pantryMain">cancel</a>

    <form method = "POST">
        {%csrf_token%}
        <label for="title">pantry title:</label><br>
        <textarea id="title" name="title" rows="1" cols="50" placeholder="delicious food" required>
{{pantry.item_name}}
        </textarea><br>
        <label for="quantity">quantity:</label><br>
        <textarea id="quantity" name="quantity" rows="1" cols="1" placeholder="1">
{{pantry.quantity}}
        </textarea><br>
        <label for="expiration">expiration date:</label><br>
        <input type="date" id="expiration" name="expiration" value={{pantry.expiration}}>
        </textarea><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
{%endblock content%}