{% extends "meal_planner_main/base.html" %}

{% block title %}Forum Image Post{% endblock title %}

{% block content %}
<div class="add-post">
    <div class="add-post-left">
        <h2 class="subtitle">Post an image</h2>
        <form method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="field">
                <button class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="add-post-right">
        {% load static %} <img src="{% static 'meal_planner_main/images/food20.jpg' %}" alt="food" style="max-width: 100%; display: block; margin: auto;" />
    </div>
</div>
{% endblock content %}