{% extends "meal_planner_main/base.html" %}

{% load static %}

{% block title %}Forum{% endblock title %}

{% block content %}
<div class="all-content">
    <div class="forum-left">
        {% block conTitle %}
        {% endblock conTitle %}
        <br><br>
        {% if user.is_authenticated %}
        <a href="{% url 'forum:valid_post' %}" class="btn btn-primary">Add a new post</a>
        {% else %}
        <p>
            <a href="{% url 'account:login' %}">Login </a>
            or <a href="{% url 'account:register' %}">Register</a>
            in order to make a post.
        </p>
        {% endif %}
        {% for post in posts %}
        <div class="post-block">
            <h3 class="subtitle">{{ post.title }}</h3>
            <small>Posted at {{ post.date_added }} by
                <a href="{% url 'forum:userPage' uName=post.user %}">{{ post.user }}</a>
            </small>
            {% if post.user == user %}
            <form action="delete_post" method="post">
                {% csrf_token %}
                <button style="float: right;" class="btn-close btn-sm" type="submit" name="delete_post"
                    value="{{ post.slug }}" title="Delete"></button>
            </form>
            {% endif %}
            {% if post.image %}
            <div>
                <img src="{{ post.image.url }}" class="img-thumbnail" />
            </div>
            {% endif %}
            <p class="intro">{{ post.intro }}</p>
            <a class="btn btn-info" href="{% url 'forum:post_detail' post.slug %}" class="read-more">Read more</a>
        </div>
        {% empty %}
        <p>Be the first to make a post!</p>
        {% endfor %}
    </div>
    <div class="forum-right">
        {% load static %} <img src="{% static 'meal_planner_main/images/food18.jpg' %}" alt="food"
            style="max-width: 90%; display: block; margin: auto;" />
        <br>
        <div style="text-align: center;">
            <h3 style="display: inline;"> See what others are cooking! </h3>
            {% if user.is_authenticated %}
            <a href="{% url 'forum:valid_image_post' %}" class="btn btn-primary" style="vertical-align: top;">Post
                an image</a>
            {% endif %}
        </div>
        <br>
        <form action="delete_imgpost" method="post">
            {% csrf_token %}
            {% for imgpost in imgposts %}
            <div class="gallery">
                {% if imgpost.image %}
                <img src="{{ imgpost.image.url }}" class="gallery-post" />
                <h4 style="text-align:center;padding:10px;margin-bottom:0px;">{{ imgpost.title }}</h4>
                <small style="margin:10px;">
                    by <a href="{% url 'forum:userPage' uName=imgpost.user %}">{{ imgpost.user }}</a>
                </small>
                {% if imgpost.user == user %}
                <button style="float: right;" class="btn-close btn-sm" type="submit" name="delete_imgpost"
                    value="{{ imgpost.slug }}" title="Delete"></button>
                {% endif %}
                {% endif %}
            </div>
            {% endfor %}
        </form>
    </div>
</div>


{% endblock content %}