{% extends "meal_planner_main/base.html" %}

{% block title %}Post{% endblock title %}

{% block content %}


<h1 class = 'title'>{{ post.title }}</h1>
<small>Posted at {{ post.date_added }}</small>

<h3><strong>{{ post.intro }}</strong></h3>

{% if post.image %}
  <img src = "{{ post.image.url }}" class="post-detail-image" style="margin: 10px;"/>
{% endif %}

<h5><p>{{ post.body }}</p></h5>


<hr>
<h2 class = "subtitle">Comments</h2>
{% for comment in post.comments.all %}
<article class = "media">
  <div class = "media-content">
    <div class = "content">
      <p>
        <strong> {{comment.name }}</strong><small>&nbsp;&nbsp;&nbsp;{{ comment.date_added }}</small>
        <br>
        {{ comment.body }}
      </p>
    </div>
  </div>
</article>
{% empty %}
<div class ="notify">
  <p>Be the first to leave a comment!!</p>
</div>
{% endfor %}
<hr>

<h2 class ="subtitle">Add comment</h2>
<form method = "post" action = ".">
  {% csrf_token %}

  {{ form.as_p }}
  <div class = "field">
    <button class = "btn btn-primary">Submit</button>
  </div>
</form>

{% endblock content %}