<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to your grocery list!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>
</head>
<body>

<h1>Grocery List Main</h1>
<p>Welcome to the grocery list! Click to add items</p>
<ul>
    {% for i in all_items %}
    <li> {{i.content}} </li>
    {% endfor %}
</ul>
<!-- TODO: Isaac - Create database for grocery items |
           Matthew - Add html page to views/urls/models and ensure it can pull from database -->

<form action="/addGroceryItem/" method = "post">{% csrf_token %}
    <input type="text" name="content">
    <input type="submit" value="Add Grocery Item">

</form>

</body>
</html>