{% extends "meal_planner_main/base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}

<div class="row">
    <div class="column left">
        <form method="POST">
            {% csrf_token %}
            <h2>Log in to your account</h2>
            <div>
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
        <br><br>
        <div>
            Need to sign up first? <a class="btn btn-secondary" href="{% url 'account:register' %}">Register here</a>
        </div>
    </div>
    <div class="column right">
        {% load static %} <img src="{% static 'meal_planner_main/images/food15.jpg' %}" alt="food" />
    </div>
</div>


{% endblock content %}