<!DOCTYPE html>
{%extends "meal_planner_main/base.html"%}


{%block content%}
<h1>Search Recipes!</h1> &nbsp; <a href="recipeMain">go home</a>

<body>
    <form method = "POST">
        {%csrf_token%}
      
      <textarea placeholder="search here" name = "search" rows=1 cols=25>{{ingredients}}</textarea>
      <button type = "submit" name="send" value = "submit"> submit </button>
    {%for i in list%}
    <h2>{{i.title}}</h2> 
    <a href={{i.sourceUrl}} target="_blank"> go to site! </a> &nbsp &nbsp &nbsp <input type="submit" name="save" value={{forloop.counter}}>save this recipe!
    <details>
      <summary>more information</summary>
    ready in {{i.readyInMinutes}} minutes
    <h3>ingredients:</h3> 
    {%for ingredient in i.extendedIngredients%}
    {{ingredient.original}}<br>
    {%endfor%}
    <h3>instructions:</h3>
    {%for inst in i.analyzedInstructions.0.steps%}
    {{inst.number}}: {{inst.step}}<br>
    {%endfor%}
    </details>
    {%endfor%}
    </form>
</body>
{%endblock content%}
</html>