{% extends "rbase.html" %}

{% block page %}<h1>Recipes</h1>>{% endblock page %}

{% block contents %}

<h1>This is the Recipes Page!</h1>
<p>My Recipes</p>
 <body>
     <form method = POST>
        {%csrf_token%}
     {%for r in recipes%}
     {{r}} &nbsp; &nbsp; &nbsp; <button type="submit" name="edit" value={{forloop.counter}}>edit</button>  &nbsp; &nbsp; &nbsp; <button type="submit" name="delete" value={{forloop.counter}}>delete</button><br>
     ready in {{r.estimated_time}} minutes
     <details>
         <summary>more information:</summary>
         ingredients:<br>
         {{r.recipe_ingredients}}<br>
         directions:<br>
         {{r.recipe_directions}}<br>
     </details><br><br>
     {%endfor%}
    </form>
 </body>

{% endblock contents %}
