{% extends "meal_planner_main/base.html" %}

{% block title %}Recipes{% endblock title %}

{% block content %}

<div class="recipespage">
	<div class="left">
		<a class='btn btn-primary' href="search">Search recipes</a>
		<a class='btn btn-primary' href="createRecipe">Create a recipe</a>
		<br><br>
		<h1>My Recipes</h1>
		<form method=POST>
			{% csrf_token %}
			{% for r in recipes %}
			<div class="recipes">
				<div class="recipe-link" onclick="location.href='viewRecipe/{{r.id}}';">
					<h4 class="recipe-title">{{r.recipe_name }}</h4>
					Ready in {{ r.estimated_time }} minutes
				</div>
				<button class="btn btn-secondary" type="submit" name="sched" value={{forloop.counter}}>Schedule</button>
				<button class="btn btn-secondary" type="submit" name="edit" value={{forloop.counter}}>Edit</button>
				<button class="btn btn-secondary" type="submit" name="delete" value={{forloop.counter}}
					onclick="return confirm('Are you sure you want to delete')">Delete</button><br>
			</div>
			{% endfor %}
		</form>
	</div>
	<div class="right">
		{% load static %} <img src="{% static 'meal_planner_main/images/food4.jpg' %}" alt="food" />
	</div>
</div>

{%endblock content%}