{% extends "meal_planner_main/base.html" %}

{% block title %}Recipes{% endblock title %}

{% block content %}

<h1>Welcome to your recipes</h1>
<p> Here you can see your recipes!</p>
<ul>
    {% for i in recipes %}
    <li> {{ i.recipe_ingredients }}</li>
    {% endfor %}
</ul>
<form method = 'POST'>
    {% csrf_token %}
    {{ form }}
    <input type = "submit" value = "Add a Recipe">
</form>

<!-- <form method = "POST"> 
    {% csrf_token %}
    <input type = "text" name = "recipe_name" value = "Recipe Name">
    <input type = "text" name = "recipe_ingredients" value = "Recipe Ingredients">
    <input type = "text" name = "recipe_directions" value = "Recipe Directions">
    <input type = "number" name = "estimated_time" value = "Estimated Time to make">
</form> -->

{% endblock content %}
