<!DOCTYPE html>
<body>
    <form method = "POST">
        {%csrf_token%}
        <label for="title">recipe title:</label><br>
        <textarea id="title" name="title" rows="1" cols="50" placeholder="delicious food" required>
{{recipe.recipe_name}}
        </textarea><br>

        <label for="maketime">expected time to make:</label><br>
        <input type="number" id="maketime" name="maketime" value={{recipe.estimated_time}}>

        <label for="ingredients">ingredients:</label><br>
        <textarea id="ingredients" name="ingredients" rows="4" cols="50" placeholder="1 cup flour">
{{recipe.recipe_ingredients}}
        </textarea><br>
        
        <label for="steps">steps:</label><br>
        <textarea id="steps" name="steps" rows="4" cols="50" placeholder="bake at 250 for an hour">
{{recipe.recipe_directions}}
        </textarea><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>