{% extends "meal_planner_main/base.html" %}

{% block title %}Recipes{% endblock title %}

{% block content %}

<h1>Input the date you would like to schedule this meal!</h1>
<a class='btn btn-secondary' href="recipeMain">Go back</a><br><br>
<form method="POST">
    {% csrf_token %}
    <input type="date" name="date">
    <button class='btn btn-primary' type="submit"> Submit </button><br><br><br>
</form>
<div style="white-space: pre-line;">
    {{ rec.recipe_name }}
    {{ rec.recipe_ingredients }}
    {{ rec.recipe_directions }}
</div>

{% endblock content %}