{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'meal_planner_main/style.css' %}">
    <title>{% block title %}Title{% endblock title %}</title>
</head>
<body>
    <header class="sticky-top">
        <nav class="navbar">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <h1><a id="cook-it" href="{% url 'meal_planner_main:home' %}">Cook-it!</a></h1>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ home_page }}" href="{% url 'meal_planner_main:home' %}">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link {{ forum_page }}" href="{% url 'forum:healthForumMain' %}">Forum</a>
                </li>
                {% if user.is_authenticated %} 
                <li class="nav-item">
                    <a class="nav-link {{ recipe_page }}" href="{% url 'recipes:recipesMain' %}">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ cal_page }}" href="{% url 'cal:calMain' %}">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ grocery_page }}" href="{% url 'grocery:groceryMain' %}">Groceries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ pantry_page }}" href="{% url 'pantry:pantryMain' %}">Pantry</a>
                </li>
                {% else %}
                <!-- <li class="nav-item" title="Log in first">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Recipes</a>
                </li>
                <li class="nav-item" title="Log in first">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Calendar</a>
                </li>
                <li class="nav-item" title="Log in first">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Groceries</a>
                </li>
                <li class="nav-item" title="Log in first">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true">Pantry</a>
                </li> -->
                {% endif %}
            </ul>
            <ul class="nav nav-tabs">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {{ profile_page }}" href="{% url 'account:profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ logout_page }}" href="{% url 'account:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {{ register_page }}" href="{% url 'account:register' %}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ login_page }}" href="{% url 'account:login' %}">Login</a>
                </li>
                {% endif %} 
            </ul>
        </nav>
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} p-1" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
      </header>
      <div id="content">
          {% block content %}{% endblock content %} 
      </div>
      <div>
	  {% block footer %}{% endblock footer %}
      </div>
</body>
</html>
