{% extends "meal_planner_main/base.html" %}


{% block title %}Meal Planner{% endblock title %}

{% block content %}

<!-- <h1>Meal Planner Home Page</h1> -->
<!-- <p>Welcome to our Meal Planner app!</p> -->
<div id="home-image">
    {% load static %} <img src="{% static 'meal_planner_main/images/food1.jpg' %}" alt="home"
        style="max-width: 100%;" />
    <div id="home-image-text">
        <p class="btn-light btn-lg" style="font-size: 28px;">Cook-it! A website for easy meal planning</p>
    </div>
</div>
<br>
<div>
    <h2 style="text-align: center;">Placeholder for Final Demo Video</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<br>
<div>
    <h3>Why use our app?</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Morbi leo urna molestie at. Aliquet nibh praesent tristique magna sit amet purus gravida quis.
        Habitant morbi tristique senectus et netus et malesuada fames ac. Sed pulvinar proin gravida hendrerit lectus a.
        Pharetra diam sit amet nisl suscipit adipiscing. Pretium lectus quam id leo in vitae turpis massa sed. Laoreet
        sit amet cursus sit amet. Quam lacus suspendisse faucibus interdum posuere. Vitae tortor condimentum lacinia
        quis vel eros donec ac odio. Gravida quis blandit turpis cursus. Neque ornare aenean euismod elementum nisi quis
        eleifend. Elementum integer enim neque volutpat ac tincidunt vitae semper. Suspendisse interdum consectetur
        libero id faucibus nisl tincidunt eget nullam.
    </p>
    <h3>How to use our app</h3>
    <p>
        Augue mauris augue neque gravida in. Ac odio tempor orci dapibus ultrices. Sit amet mattis vulputate enim nulla
        aliquet porttitor lacus luctus. Odio morbi quis commodo odio aenean. Habitant morbi tristique senectus et netus
        et malesuada. In arcu cursus euismod quis viverra nibh cras pulvinar. Vitae semper quis lectus nulla at
        volutpat. Eget nunc lobortis mattis aliquam faucibus purus. Purus viverra accumsan in nisl. Integer eget aliquet
        nibh praesent tristique magna sit. Fusce ut placerat orci nulla pellentesque dignissim enim. Urna molestie at
        elementum eu facilisis sed. Morbi tempus iaculis urna id. Neque volutpat ac tincidunt vitae semper. Tellus cras
        adipiscing enim eu turpis egestas. Praesent elementum facilisis leo vel fringilla.
    </p>
    <h3>Screenshots of app (at least 3)</h3>
    <p>
        Eget nunc lobortis mattis aliquam. Dignissim convallis aenean et tortor at risus viverra adipiscing. Velit
        egestas dui id ornare arcu odio ut. At volutpat diam ut venenatis tellus in metus. Odio aenean sed adipiscing
        diam donec adipiscing tristique risus nec. Lacus viverra vitae congue eu consequat. Diam maecenas sed enim ut
        sem viverra aliquet eget sit. Mus mauris vitae ultricies leo integer malesuada nunc. Ut placerat orci nulla
        pellentesque dignissim enim sit amet. Dictum varius duis at consectetur lorem donec massa sapien. In ornare quam
        viverra orci sagittis eu volutpat odio. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed.
        Amet aliquam id diam maecenas ultricies. Fermentum dui faucibus in ornare. Malesuada fames ac turpis egestas
        maecenas pharetra. Etiam non quam lacus suspendisse faucibus interdum posuere. Feugiat in ante metus dictum at
        tempor commodo ullamcorper.
    </p>
    <h3>About us</h3>
    <p>
        Sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Dui ut ornare lectus sit amet est placerat
        in. Et netus et malesuada fames ac turpis egestas. Massa vitae tortor condimentum lacinia quis. Ultricies lacus
        sed turpis tincidunt id aliquet. Viverra nibh cras pulvinar mattis nunc sed blandit libero. Tincidunt tortor
        aliquam nulla facilisi cras fermentum odio. Enim praesent elementum facilisis leo. Sed adipiscing diam donec
        adipiscing tristique risus nec. Interdum posuere lorem ipsum dolor sit amet. In fermentum posuere urna nec
        tincidunt praesent. Vestibulum sed arcu non odio euismod lacinia at. Adipiscing at in tellus integer feugiat
        scelerisque. Dignissim cras tincidunt lobortis feugiat. Nulla aliquet porttitor lacus luctus. Eu mi bibendum
        neque egestas congue quisque egestas.
    </p>
    <h3>Link to Github repo</h3>
    <p>
        Risus ultricies tristique nulla aliquet enim tortor at auctor urna. Diam volutpat commodo sed egestas egestas.
        Luctus accumsan tortor posuere ac ut consequat. Sem nulla pharetra diam sit amet nisl. Eu scelerisque felis
        imperdiet proin. Aliquam sem et tortor consequat id porta nibh venenatis. Euismod in pellentesque massa placerat
        duis ultricies lacus sed turpis. Dictum varius duis at consectetur lorem. Laoreet id donec ultrices tincidunt
        arcu non sodales neque sodales. Non tellus orci ac auctor.
    </p>
</div>

{% endblock content %}