{% extends "meal_planner_main/base.html" %}

{% block title %}Meal Planner{% endblock title %}

{% block content %}
<div id="home-image">
    {% load static %} <img src="{% static 'meal_planner_main/images/food1.jpg' %}" alt="home" />
    <div id="home-image-text">
        <p class="btn-light btn-lg">Cook-it! A website for easy meal planning</p>
    </div>
</div>
<br>
<div id="home-video">
    <h2>Placeholder for Final Demo Video</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<br>
<div>
    <h3>Why Cook-It?</h3>
    <p>
        Cook-It is a health and fitness app built for your lifestyle! Ensuring that you have the food you need,
        when you need it is our goal. With Cook-It you can quickly and easily find recipes with the ingredients you
        already have at home. That means <strong>minimizing waste</strong> and <strong>saving money</strong>! Not only
        that, Cook-It can also help you meal plan and find new recipes. Eating delicious new meals couldn't
        be easier!
    </p>
    <h3>How to use Cook-It</h3>
    <p>
        Using Cook-It is easy!
        <ol>
        <li>Register with your name and email</li>
        <li>Visit your profile and add any dietary restrictions</li>
        <li>Add any ingredients you already have to your pantry</li>
        </ol>
        And just like that you're ready to get cooking! From here you can look for new recipes (or add your own)
        in the recipes tab or see how your friends are doing in the forum.
    </p>
    <h3>Screenshots of app (at least 3)</h3>
    <p>
        Eget nunc lobortis mattis aliquam. Dignissim convallis aenean et tortor at risus viverra adipiscing. Velit
        egestas dui id ornare arcu odio ut. At volutpat diam ut venenatis tellus in metus. Odio aenean sed adipiscing
        diam donec adipiscing tristique risus nec. Lacus viverra vitae congue eu consequat. Diam maecenas sed enim ut
        sem viverra aliquet eget sit. Mus mauris vitae ultricies leo integer malesuada nunc. Ut placerat orci nulla
        pellentesque dignissim enim sit amet. Dictum varius duis at consectetur lorem donec massa sapien. In ornare quam
        viverra orci sagittis eu volutpat odio. Potenti nullam ac tortor vitae purus faucibus ornare suspendisse sed.
        Amet aliquam id diam maecenas ultricies. Fermentum dui faucibus in ornare. Malesuada fames ac turpis egestas
        maecenas pharetra. Etiam non quam lacus suspendisse faucibus interdum posuere. Feugiat in ante metus dictum at
        tempor commodo ullamcorper.
    </p>
    <h3>Cook-It was designed and created by:</h3>
    <p>
        &ensp; Carol Juneau</br>
        &ensp; Isaac Luther</br>
        &ensp; Garrison Davis</br>
        &ensp; Matthew Lewis</br>
        &ensp; Eiman Najjar
    </p>
    <h4><a href=https://github.com/SCCapstone/TODOTeamName target="_blank">Visit our Github</a></h4>

</div>
{% endblock content %}