{% extends "meal_planner_main/base.html" %}

{% block title %}Meal Planner{% endblock title %}

{% block content %}
<div id="home-image">
    {% load static %} <img src="{% static 'meal_planner_main/images/food1.jpg' %}" alt="home" />
    <div id="home-image-text">
        <p class="btn-light btn-lg">Cook-it! A website for easy meal planning</p>
    </div>
</div>
<br>
<div id="home-video">
    <h2>Placeholder for Final Demo Video</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ScMzIvxBSi4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<br>
<div id="home-content">
    <h3>Why Cook-it?</h3>
    <p>
        Cook-it is a health and fitness app built for your lifestyle! Ensuring that you have the food you need,
        when you need it is our goal. With Cook-it you can quickly and easily find recipes with the ingredients you
        already have at home. That means <strong>minimizing waste</strong> and <strong>saving money</strong>! Not only
        that, Cook-it can also help you meal plan and find new recipes. Eating delicious new meals couldn't
        be easier!
    </p>
    <h3>How to use Cook-it</h3>
    <p>
        Using Cook-it is easy!
        <ol>
        <li>Register with your name and email</li>
        <li>Visit your profile and add any dietary restrictions</li>
        <li>Add any ingredients you already have to your pantry</li>
        </ol>
        And just like that you're ready to get cooking! From here you can look for new recipes (or add your own)
        in the recipes tab or see how your friends are doing in the forum.
    </p>
    <h3>Screenshots of the app</h3>
    <!-- Carousel code from https://levelup.gitconnected.com/how-to-make-a-fully-accessible-css-only-carousel-40e8bd62032b -->
    <div class="carousel">
        <div class="slides">
            <div class="slides-item slide-1" id="slide-1">
                {% load static %} <img src="{% static 'meal_planner_main/images/screenshot1.png' %}" alt="screenshot 1" />
            </div>
            <div class="slides-item slide-2" id="slide-2">
                {% load static %} <img src="{% static 'meal_planner_main/images/screenshot2.png' %}" alt="screenshot 2" />
            </div>
            <div class="slides-item slide-3" id="slide-3">
                {% load static %} <img src="{% static 'meal_planner_main/images/screenshot3.png' %}" alt="screenshot 3" />
            </div>
            <div class="slides-item slide-4" id="slide-4">
                {% load static %} <img src="{% static 'meal_planner_main/images/screenshot4.png' %}" alt="screenshot 4" />
            </div>    
          </div>
          <div class="carousel__nav">
            <a class="slider-nav" href="#slide-1">1</a>
            <a class="slider-nav" href="#slide-2">2</a>
            <a class="slider-nav" href="#slide-3">3</a>
            <a class="slider-nav" href="#slide-4">4</a>
          </div>
    </div>
    <h3>Cook-it was designed and created by:</h3>
    <p>
        &ensp; Carol Juneau</br>
        &ensp; Isaac Luther</br>
        &ensp; Garrison Davis</br>
        &ensp; Matthew Lewis</br>
        &ensp; Eiman Najjar
    </p>
    <h4><a href=https://github.com/SCCapstone/TODOTeamName target="_blank">Visit our Github</a></h4>
</div>
{% endblock content %}